body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    overflow: hidden;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(8px) brightness(0.5);
}

.content {
    position: relative;
    z-index: 1;
    text-align: center;
    color: #fff;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.buttons {
    margin: 20px;
}

.sim, .nao {
    width: 120px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    margin: 10px;
    color: #fff;
    background: linear-gradient(135deg, #f06, #f9d);
    transition: transform 0.3s, box-shadow 0.3s;
}

.sim:hover, .nao:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.nao {
    position: absolute;
    animation: move 4s infinite ease-in-out;
}

@keyframes move {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(20px);
    }
    100% {
        transform: translateX(0);
    }
}

.message {
    font-size: 1.5rem;
    margin-top: 20px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    display: none;
}
